---
ci:
  # We rely on renovate to update it but there is no way to fully disable it
  # https://github.com/pre-commit-ci/issues/issues/83
  autoupdate_schedule: quarterly
  skip:
    # https://github.com/pre-commit-ci/issues/issues/55
    - tombi-format
    - tombi-lint
  submodules: true
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.2
    hooks:
      - id: uv-sync
      - id: uv-lock
      - id: uv-lock
        name: "deps: upgrade via uv sync --upgrade"
        alias: deps
        args: ["--upgrade"]
        stages: [manual]
  - repo: https://github.com/biomejs/pre-commit
    rev: "v2.3.15"
    hooks:
      - id: biome-check
        name: biome
        alias: biome
        args: [--unsafe]
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.6.0
    hooks:
      - id: cspell
        entry: bash
        pass_filenames: false
        args:
          [
            "-euo",
            "pipefail",
            "-c",
            "cspell-cli . --relative --no-progress --no-summary && cspell-cli . --disable-dictionary=words --no-exit-code --words-only --quiet --unique | LC_ALL=C sort > .config/dictionary.txt",
          ]
        name: cspell + remove unused and sort dictionary
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.1
    hooks:
      - id: check-github-workflows
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
        language_version: python3
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: >
          (?x)^(
            .config/dictionary.txt
          )$
        additional_dependencies:
          - tomli
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint
        files: \.(yaml|yml)$
        types: [file, yaml]
        entry: yamllint --strict
  - repo: https://github.com/asottile/pyupgrade
    # keep it after flake8
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: ["--py39-plus"]
  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.7.28
    hooks:
      - id: tombi-format
        alias: toml
      - id: tombi-lint
        alias: toml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff-format
        alias: ruff
      - id: ruff-check
        alias: ruff
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        # "." and pass_files are used to make pre-commit mypy behave the same as standalone mypy
        args: ["."]
        pass_filenames: false
        additional_dependencies: ["mkdocs-macros-plugin"]
  - repo: https://github.com/pycqa/pylint
    rev: v4.0.4
    hooks:
      - id: pylint
        args:
          - --output-format=colorized
        additional_dependencies: ["mkdocs-macros-plugin"]
