---
rules:
  comments:
    # prettier compatibility
    min-spaces-from-content: 1
  document-start:
    present: true
  indentation:
    level: error
    indent-sequences: consistent
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
ignore: |
  .tox
