---
# cspell:ignore mislav
name: release

on:
  release:
    types: [published]

jobs:
  pypi:
    name: Publish to PyPI registry
    environment: release
    permissions:
      id-token: write
    runs-on: ubuntu-24.04

    env:
      FORCE_COLOR: 1
      PY_COLORS: 1
      TOXENV: pkg

    steps:
      - name: Switch to using latest released Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install tox
        run: python3 -m pip install --user "tox>=4.0.0"

      - name: Check out src from Git
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # needed by setuptools-scm
          submodules: true

      - name: Build dists
        run: python3 -m tox

      - name: Publish to pypi.org
        if: >- # "create" workflows run separately from "push" & "pull_request"
          github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@release/v1
